* {
  text-align: center;
}
.main{
  text-align: center;
}
.mainn{
  background-image: url("https://www.wallpapertip.com/wmimgs/25-252076_background-image-for-weather-app.jpg");
  padding-bottom: 20px;
}
.temp1{
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  padding: 20px;
  /* border-radius: 150px; */
}
.me{
  margin-top: 165px;
}
.me1{
  margin-top: -60px;
  margin-left: 465px;
}


body{
  background-color: aquamarine;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .me1{
    margin-left: 10px;
  }
}


.temp{
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  margin-top: 150px;
  width: 100px;
  height: 100px;
  margin: 50px;
  /* border-radius: 5px; */
  border: none;
  padding: 70px;
  border-radius: 150px;
  
}